POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=amrutam
JWT_SECRET=your_jwt_secret

DATABASE_URL="postgresql://postgres:your_encoded_password@postgres:5432/amrutam?schema=public"